.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.72);
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.venue-search-label, .venue-search-input, .venue-search-button {
  display: block;
  margin-bottom: 10px;
  height: 20px;
  font-size: 15pt;
}

.venue-search-label {
  color: white;
}

.venue-search-button {
  height: 30px;
}

.place-list div {
  color: white;
  margin: 10px;
}

.place-list div:hover {
  background-color: gray;
}
