label {
  z-index: 99;
  position: fixed;

  margin-top: 15px;
  margin-left: 15px;

  font-size: 14pt;
  font-weight: bold;
}

.search-box, .venue-search-box {
  margin-top: 5px;

  display: block;
  box-sizing: border-box;
  border: 1px solid transparent;
  width: 240px;
  height: 32px;
  padding: 0 12px;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  outline: none;
  text-overflow: ellipsis;

  transition: margin-left .3s;
}

.venue-search-label {
  margin-top: 100px;
}

@media only screen and (max-width : 768px) {
  .venue-search-box {
    margin-left: 15px;
    margin-top: 60px;
  }
}
